

@font-face {
  font-family: 'palanquinbold';
  src: url('../fonts/palanquin-bold-webfont.eot');
  src: url('./fonts/palanquin-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palanquin-bold-webfont.woff2') format('woff2'),
       url('../fonts/palanquin-bold-webfont.woff') format('woff'),
       url('../fonts/palanquin-bold-webfont.ttf') format('truetype'),
       url('../fonts/palanquin-bold-webfont.svg#palanquinbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'palanquinlight';
  src: url('../fonts/palanquin-light-webfont.eot');
  src: url('../fonts/palanquin-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palanquin-light-webfont.woff2') format('woff2'),
       url('../fonts/palanquin-light-webfont.woff') format('woff'),
       url('../fonts/palanquin-light-webfont.ttf') format('truetype'),
       url('../fonts/palanquin-light-webfont.svg#palanquinlight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'palanquinregular';
  src: url('../fonts/palanquin-regular-webfont.eot');
  src: url('../fonts/palanquin-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/palanquin-regular-webfont.woff2') format('woff2'),
       url('../fonts/palanquin-regular-webfont.woff') format('woff'),
       url('../fonts/palanquin-regular-webfont.ttf') format('truetype'),
       url('../fonts/palanquin-regular-webfont.svg#palanquinregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*---Font-Reset---*/
$palanquin-Rg: 'palanquinregular';
$palanquin-Bd: 'palanquinbold';
$palanquin-Lt:'palanquinlight';

$primary-color: #efefef;
$green: #09d179;
$dgreen:#020202;
$white: #fff;
$orange:#ff6600;
$orangeOP92:rgba(255, 165, 0, 0.92);
$black:#000;
$blacklight:#212121;
$violet: #32318f;
$blue:#00617C;
$darkBlue:#005273;
$gblue:#4885ed;
$yellow:#F6CD4E;
$lightBlue:#00c5ff;
$blacklightDark:#666;
$red:#ff0000;
$darkRed:rgb(214, 65, 61);
$lightRed:#dc3339;
$whiteopacity:rgba(255,255,255,0);
$whiteopacity08:rgba(255,255,255,0.8);
$whiteopacity09:rgba(255,255,255,0.9);
$blackOpacity05:rgba(0,0,0,0.5);
$blackOpacity75:rgba(0,0,0,0.75);
$darkBg:#4a4a4a;
$opacity:rgba(54, 58, 243, 0);


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  font: 400 normal 17.33px/30px $palanquin-Rg;
  color: #000; }
  ol {margin-bottom: 20px !important;
    li {
    list-style-position: outside;
    margin-left: 19px;
    padding-left: 11px;}
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*---Universal Selector to add additional resets, such as text-size adjust and tap highlighting---*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

a {
  text-decoration: none; }

body {
  margin: 0;
  background: $white; }



ul {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

/*---Additional Form resets---*/
:required {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

/*---Typographic Styling---*/
em, i {
  font-style: italic; }

u {
  text-decoration: underline; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

blockquote, q {
  quotes: "" ""; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/*---Interactive Element Settings---*/
a, input[type="submit"], input[type="button"], button, label[for] {
  cursor: pointer; }

input[type="submit"] {
  -webkit-appearance: none; }

  input[type="submit"], a.button {
    width: 100%;
    height: 42px;
    background: #1d99f9 url(../images/submit-arrow.png) no-repeat 84% 50%;
    font-family: "palanquinbold";
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 3px 46px 3px 29px;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    outline: none;    line-height: 18px;
}

input[type="submit"]:hover {
  background-color:#85bd33; color: $white;}
  .submitScn input[type="submit"] {
    width: 122px;
}

/*---Misc. Element Styling---*/
div.wpcf7-validation-errors, .wpcf7-mail-sent-ok, div.wpcf7-spam-blocked, 
div.wpcf7-acceptance-missing { display: none !important; }
.wpcf7-form-control-wrap {
    display: inline-block;    width: 100%;
}
span.wpcf7-not-valid-tip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px !important;
    background: #fff;
    border-radius: 0;
    padding: 6px 11px;
    border: 1px #f00 solid;
}
img {
  -ms-interpolation-mode: bicubic; }

.linksiz {
  font-size: 19px;
  line-height: 30px; }

/* Proper box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* General styles */
::selection {
  background: $violet;
  color: $lightBlue; }

::-moz-selection {
  background: $violet;
  color: $lightBlue; }

::-webkit-selection {
  background: $violet;
  color: $lightBlue; }

a {
  text-decoration: none;
  color: #327D9D;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
.readmore {
  display: inline-block;
    padding: 9px 38px 9px 22px;
    color:$white;
    font-size: 19px;
    line-height: 22px;
    text-decoration: none;background:$green url(../images/submit-arrow.png) no-repeat 95% 50%;
    
}
.readmore:hover {background-color:$black;color: $white;}
button {
  cursor: pointer; }

caption, th, td {
  vertical-align: top; }
  div.wpcf7 .ajax-loader {
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 26px; }

h2, h3, h4, h5, h6 {
    color:$black;
    padding-bottom: 10px;
    font-size: 29px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 15px;
    position: relative;
    font-family:$palanquin-Bd;
    
    &:before{
      content: "";
      position: absolute;
     
  }
}


h2 a, h3 a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
&:hover{color:$blue !important;}
   }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }




.heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 22px;
  text-transform: uppercase; }

img {
  height: auto;
  max-width: 100%; }

input, select, textarea {
  font-size: 13px; }

input[type="text"], input[type="tel"], input[type="phone"], input[type="email"], select {
  outline: none;
  border: 1px solid #c3bebe;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 43px;
  padding: 4px 10px;
  width: 100%;
  font-size: 16px;
  font-weight: normal;vertical-align: top;
  color: $black; }

p {
  margin: 0 0 27px; }

table {
  border: 0;
  border-spacing: 0;
  empty-cells: show; }

textarea {
  outline: none;
  height: 115px;
  font-size: 16px;
  resize: none;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 10px;
  font-weight: normal;
  border: 1px solid #c3bebe;
  color: $black;
  margin: 0;
  vertical-align: top;
  }

ul, ol {
  margin: 0;
  padding: 0; }

.wrap {
  border: 0;
  clear: both;
  float: none;
  font-size: 1px;
  height: 0;
  line-height: 1px;
  margin: 0;
  padding: 0;
  visibility: hidden; }

.ban_inn li:last-child a:hover {
  background-color: #E2B72C;
  color: $white;
  border: 1px solid #E2B72C; }

.ban_inn li:last-child a img {
  display: inline-block;
  vertical-align: middle; }

.leftfl {
  float: left; }

.rgtfl {
  float: right; }

.tall {
  text-align: left; }

.talr {
  text-align: right; }

.talc {
  text-align: center; }

.justify {
  text-align: justify; }



.m0 {margin: 0px 0px 0px 0px; }

.wid{max-width:1200px;margin:0 auto;}  
.fullwidth{width: 100%; float: left;}
.clear{clear: both;}
.flt-left{float: left;}
.flt-right{float: right;}

.wid:after, li:after, ul:after, .social:after, div:after {
  display: block;
  content: "";
  clear: both; }

::-webkit-input-placeholder {
  opacity: 1;
  color: $black; }

:-moz-placeholder {
  opacity: 1;
  color: $black; }

::-moz-placeholder {
  opacity: 1;
  color: $black; }

:-ms-input-placeholder {
  opacity: 1;
  color: $black; }

*, :before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hidecal {
  display: none; }

a.phn {
  color: $gblue;
  display: inline-block;
  font-size: inherit;
  line-height: inherit; }

a.phn:hover {
  color: $lightRed; }

.rcapcha {
  border-radius: 3px;
  height: 75px;
  margin: 0 auto 6px;
  overflow: hidden;
  width: 100%; }

  .listing, .listng {margin-bottom: 30px;display:inline-block;    width: 100%;
    li {
    padding: 0 8px 0 27px;margin-bottom: 13px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 18px;
      height: 18px;
      background:  url(../images/listing-arrow.png) no-repeat center center;
      border-radius: 50%;
}
span {
  font-size: inherit;
  line-height: inherit;
}
a {
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  &:hover{color: $lightRed;}
}
  }

}
.listng.twoCol, .listing.twoCol{
  li{width: 50%;float: left;}
}
.listng.threeCol, .listing.threeCol{
  li{width: 33.33%;float: left;}
}
.listng.fourCol, .listing.fourCol{
  li{width: 25%;float: left;}
}

.social {
  margin: 0;
  clear: both;
  display: block;
  padding: 3px 0 3px;

    li{
      margin-right: 11px;
      float:left;
      a{
        width: 39px;
        border: 2px $yellow solid;
        height: 34px;display:block;overflow: hidden;padding:0 !important;
    border-radius: 0;background-repeat:no-repeat;background-position:center center !important;  
/*&:hover{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    opacity: 0.5;
}*/
      }
    }
}
iframe {
  width: 100%;
}
.fb{background-image:url(../images/facebook-icon.png);
&:hover{
  background-color: #3b5998 ;border-color: #3b5998 ;
}
}
.gplus{background-image:url(../images/google-plus-icon.png);}
.tw{background-image:url(../images/twitter-icon.png);
  &:hover{
    background-color: #00acee;border-color: #00acee;
  }
  }
.insta{background-image:url(../images/instagram-icon.png);}  
.pint{background-image:url(../images/pinterest-icon.png);} 
.yt{background-image:url(../images/youtube-icon.png);}
.lnk{background-image:url(../images/linkedin-icon.png);
  &:hover{
    background-color: #0077B5;border-color: #0077B5;
  }
  }  
  .innerpage h1, .innerpage h2, .innerpage h3, .innerpage h4, .innerpage h5, .innerpage h6, .innerpage .heading {
color:$blacklight;
    position: relative;text-transform:none;
    &:before{
      display: none;
    }
}
.innerpage h1{
  font-size:40px;line-height: 50px;    margin-bottom: 15px;
}
.innerpage h2{
  font-size:36px;line-height: 46px;
  margin-bottom: 15px;    padding-bottom: 0;
}
.innerpage h3, .innerpage h4, .innerpage h5, .innerpage h6, .innerpage .heading{
  font-size:28px;line-height: 38px;
  margin-bottom: 3px;
}
.contLft a {
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  font-family:inherit;
  color: $orange;
  text-decoration: underline;
  &:hover{
    color: #ffb300;
  }
}
.sitemap {padding-bottom: 30px;
  ul {
  padding-left: 24px;
  }
  a {
    padding: 0 13px 0 23px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 12px;
      height: 12px;
      background: #00c5ff;
      border-radius: 50%;
    }
}
}
.imgCvr {
  margin: 0 0 20px;
}
.hover-effect{
	width:100%;
	float:left;
	position:relative;
	overflow:hidden;
	
}
.hover-effect i{
	width:50px;
	height:50px;
	background-color:#981b1e;
	color:#fff;
	position:absolute;
	left:50%;
	top:-100px;
	z-index:1;
	line-height:50px;
	text-align:center;
	margin:0 0 0 -25px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	
}
.hover-effect:hover i{
	
	top:50%;
	margin:-25px 0 0 -25px;
}
	
.hover-effect img {
	 width:100%;
	 display:block;
  -moz-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  -webkit-transition: all 0.99s ease;
  transition: all 0.99s ease;
  
     filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
  	
	  
}
.hover-effect:hover img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  

	  
	 /* filter: gray;*/ /* IE5+ */
      /*-webkit-filter: grayscale(1);*/ /* Webkit Nightlies & Chrome Canary */
     /* -webkit-transition: all .8s ease-in-out*/;  
	  

}

.hover-effect:after {
   background:#FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.7;
  -webkit-transform: skew(45deg) scaleX(0);
  -ms-transform: skew(45deg) scaleX(0);
  transform: skew(45deg) scaleX(0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover:after {
  -webkit-transform: skew(45deg) scaleX(1);
  -ms-transform: skew(45deg) scaleX(1);
  transform: skew(45deg) scaleX(1);
  -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
    opacity: 0.1;

}


@media screen and (max-width: 1230px) {
  .listng.fourCol, .listing.fourCol{
    li{width: 33.33%;float: left;}
  }
.wid{max-width:1125px;padding:0 15px;}
h2, h3, h4, h5, h6 {font-size: 34px;}
h2.hdngLft {
    text-align: left;
    &:before{margin-left: 0;left: 0;}
}

}
@media screen and (max-width: 1184px) {
.wid {
  max-width: 1045px;
  padding: 0 15px;
}
}

@media screen and (max-width: 1090px) {
  .wid {max-width: 980px;}
  .readmore {
    font-size: 20px;
    line-height: 22px;
    background-size: 13px !important;
}
}
@media screen and (max-width: 1023px) {
.wid {
  max-width: 930px;
}
}

@media screen and (max-width: 995px) {
  .wid {
    max-width: 839px;
}
  .listng.threeCol, .listing.threeCol{
  li{width: 50%;float: left;}
}
  .innerpage h2.hdngLft {
    clear: inherit;
}
h2, h3, h4, h5, h6 { font-size: 28px;line-height: 38px;width: 100%;}


}
@media screen and (max-width: 874px) {
.readmore {
    padding: 3px 35px 3px 15px;
    font-size: 13px;
    background-size: 13px !important;
}

}

@media screen and (max-width: 767px) {
  .myPopupDv {
    top: 0;
    width: 90%;
    margin-top: 0;
    input[type="submit"] {
    width: 186px;    padding: 0px 9px 3px 9px;
    height: 38px;    background-size: 19px;
    background-position:92% 50%;
    font-size: 24px;
}
}
 
  .innerpage h2.hdngLft {
    clear: both;
}
h2, h3, h4, h5, h6 {
  font-size: 23px;
  line-height: 33px;width: 100%;
    small {
      font-family: inherit;
      font-size: 15px;
      color: #34a853;
      display: block;
      margin-top: 10px;
  }
}
h2.hdngLft {
    text-align: center;
    &:before{margin-left: -55px;left: 50%;}
}
}
@media screen and (max-width: 479px) {
  .listng.threeCol, .listing.threeCol{
    li{width: 50%;float: left;}
  }
  .listng.twoCol, .listing.twoCol{
    li{width: 100%;float: left;}
  }
.listng.fourCol, .listing.fourCol{
  li{width: 50%;float: left;}
}
}


@media screen and (max-width: 431px) {

}
@media screen and (max-width: 359px) {

}